{% extends 'base.html' %}
{% block content %}

<h1 class="main">Book page</h1>
<div class="main">
    <button class="button">
        <a class="button" href="{% url 'create_book' %}">+ add book</a>
    </button>
</div>
<hr>
<div class="main">
    <div class="container">
        {% for book_list in book_list %}
        <div class="column_text">
            <div class="border_text_list">
                <a href="{% url 'det_book' book_list.pk %}" class="link_main">
                    <div style="font-size: 120%;">
                        {{book_list.name_book}}
                        <img src="{{ book_list.image.url }}" width="200">
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}
