{% extends 'base.html' %}

{% block content %}
<br>
<div class="main" style="padding-left:200px;">
    <div style="text-align: center;">
        <div style="text-align: center;">
            <div class="border_text_list">
                <h2>
                    {{det_book.name_book}}
                </h2>
                <div>
                    {% if det_book.image %}
                    <img src="{{ det_book.image.url }}" width="200">
                    {% else %}
                    <p>No image available.</p>
                    {% endif %}
                </div>
                <p>
                    <b>author : </b>{{det_book.author}}
                </p>
                <p>
                    <b>number_pages : </b>{{det_book.number_pages}}
                </p>
                <p>
                    <b>price : </b>{{det_book.price}}
                </p>
                <div>
                    {% if det_book.text %}
                    <p><b>Text : </b>{{det_book.text}}</p>
                    {% else %}
                    <p><b>Text : </b> No Text available.</p>
                    {% endif %}
                </div>
                <br>
                <a href="{% url 'update_book' det_book.pk %}" class="button">+ Edit Book</a>
                <a class="button_back" href="{% url 'delete_book' det_book.pk %}">- Delete Book</a>
                <button class="button_back_details" type="button">
                    <a class="button_back_details" href="{% url 'book' %}">back</a>
                </button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}